/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Cinzel:wght@400;500&display=swap');

$white: #F4F4ED !default;

$font-family-sans-serif: 'Avenir', sans-serif;
$headings-font-weight:        400 !default;